<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/body.css" />
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/sponsor.css" />
    <link rel="stylesheet" href="/css/favorites.css" />

</head>

<body>
    <div class="app-root">
        <%- header %>
            <main class="main-content">
                <%- body %>
                    <section class="sponsor-section">
                        <%- sponsor %>
                    </section>
            </main>
            <%- footer %>
    </div>
</body>

</html>